{% extends 'layout.html' %}

{% block title %} Marketplace | messages {% endblock %}

{% block content %}
<div class="row mt-3">
  <div class="col">
    <h3>Messages to sell</h3>
    {% if sales|length %}
    <div class="d-flex flex-column gap-2">
        {% for sale in sales  %}
            <div class="d-flex align-items-center gap-3">
                <img src="{% if sale.listing.images.first %} {{sale.listing.images.first.url.url}} {% else %} https://st3.depositphotos.com/23594922/31822/v/450/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg {% endif %}" alt="{{sale.listing.title}} image" class="rounded-circle" style="width: 80px; aspect-ratio: 1/1; object-fit: cover;">
                <div>
                    <p class="m-0">{{sale.listing.title}}</p>
                    <small class="fw-bold">{{sale.user.full_name}}</small>
                </div>
                <span></span>
                <a href="{% url 'message-sell' listing_id=sale.listing.id user_id=sale.user.id %}" class="btn btn-primary ms-auto">Message</a>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <h4>No one messaged you yet</h4>
    {% endif %}
  </div>
  <div class="col">
    <h3>Messages to buy <span class="text-secondary fs-6">(if a previous message doesn't show it is already sold)</span></h3>
    {% if purchases|length %}
    <div class="d-flex flex-column gap-2">
        {% for listing in purchases %}
            <div class="d-flex align-items-center gap-3">
                <img src="{% if listing.images.first %} {{listing.images.first.url.url}} {% else %} https://st3.depositphotos.com/23594922/31822/v/450/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg {% endif %}" alt="{{listing.title}} image" class="rounded-circle" style="width: 80px; aspect-ratio: 1/1; object-fit: cover;">
                <div>
                    <p class="m-0">{{listing.title}}</p>
                    <small class="fw-bold">{{listing.user.full_name}}</small>
                </div>
                <span></span>
                <a href="{% url 'message-buy' listing.id %}" class="btn btn-primary ms-auto">Message</a>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <h4>You didn't message anyone yet</h4>
    {% endif %}
  </div>
</div>
{% endblock %}