{% extends 'layout.html' %}

{% block title %} Marketplace | Profile {% endblock %}
{% block content %} 
<h2 class="mt-3">{{ user.get_full_name }}</h2>
<h4>{{user.listings.count}} listings</h4>
{% if user.listings.all|length %}
<div class="d-flex gap-4 flex-wrap my-5">
    {% for listing in user.listings.all %}
    <div class="card" style="width: 15rem; min-width: 15rem;">
        <img src="{% if listing.images.first %} {{listing.images.first.url.url}} {% else %} https://st3.depositphotos.com/23594922/31822/v/450/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg {% endif %}" class="card-img-top object-fit-cover" style="aspect-ratio: 1 / 1 ;" alt="{{listing.title}} image">
        <div class="card-body">
            <h5 class="card-title">{{ listing.title|truncatechars:20 }}</h5>
            <p class="card-text">${{ listing.price|floatformat:2 }} {% if listing.is_sold %} <span class="text-secondary">(Sold)</span> {% endif %}</p>
            <a href="{% url 'listing' listing.id %}" class="btn btn-primary">View listing</a>
            {% if not listing.is_sold and request.user.id != user.id %} <a href="{% url 'message-buy' listing.id %}" class="btn btn-outline-primary">Message</a> {% endif %}
        </div>
      </div>
    {% endfor %}
</div>
{% else %}
    <h4>{{user.first_name}} has no listings</h4>
{% endif %}
{% endblock %}