{% extends 'layout.html' %}

{% block title %} Marketplace | Terms and Conditions {% endblock %}

{% block content %}
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repudiandae, corrupti vel quos deleniti vero officia a voluptates odio nihil ipsa excepturi reiciendis quae architecto. Sunt, vel! Debitis, distinctio numquam?
    <br><br>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores repellendus ducimus quisquam veritatis, dolore sunt quos illum animi eos deleniti praesentium enim impedit, commodi iste debitis voluptate molestiae ratione mollitia!
    <br><br><br><br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus excepturi nam eveniet recusandae earum enim rerum veniam labore a laudantium minus debitis, deleniti sapiente illum! Fugiat aperiam corporis cupiditate delectus?
    Voluptatem, officiis! Soluta dicta quos ut tempora sed nemo incidunt laudantium cupiditate illo dolores temporibus mollitia corporis, ullam quod, repudiandae exercitationem corrupti doloremque sequi. Maiores hic dolorem amet quia sequi!
    Ipsum fugiat inventore alias blanditiis molestias similique aperiam sint earum quaerat molestiae cumque qui veniam, nihil numquam neque excepturi animi non quam. Ipsum reiciendis maxime, neque possimus fuga nam cumque.
{% endblock %}